@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        $.ajax({
        url: '/Utilisateur/TestEtatMdp/',
        data: "{}",
        dataType: "json",
        type: "POST",
        contentType: "application/json; charset=utf-8"
        })
            .done(function (response) {
                console.log(response);
            if (response == "ko") {
                $("#modal_mdp").modal("show");
            }
        })
        .fail(function (error) {
            alert(error);
        })
    });

    $(function () {
        var chat = $.connection.hubClient;

        $.connection.hub.start().done(function () {
            $('#button_submit').click(function () {
                var notificationActuel = $("#notif").text();
                var numero_ticket = $("#numero_ticket").val();
                chat.server.notification(notificationActuel, numero_ticket);
            });
        });
    });


    function voirArticles(num_ticket) {
        //Affichage liste
        $(document).ready(function () {
            $.ajax({
                url: '/Vente/GetListeCommandeStock/',
                data: "{ 'numerocomplete': '" + num_ticket + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8"
            })
                .done(function (response) {
                    let data = response;
                    console.log(response);
                    //Element à cacher
                    $("#corps").append("<input type=\"hidden\" name=\"taille\" value=\"" + data.length + "\">");
                    $("#corps").append("<input type=\"hidden\" name=\"numero_ticket\" value=\"" + num_ticket + "\">");
                    for (var i = 0; i < data.length; i++) {
                        var j = i + 1;
                        //Element à cacher
                        $("#corps").append("<input type=\"hidden\" name=\"ref_article" + i + "\" value=\"" + data[i].Article.References + "\">");
                        $("#corps").append("<input type=\"hidden\" name=\"emplacement" + i + "\" value=\"" + data[i].Article.Emplacement + "\">");

                        $("#corps").append("<tr>");
                        $("#corps").append("<td>" + j + "</td>");
                        $("#corps").append("<td>" + data[i].Article.Designation + "</td>");
                        $("#corps").append("<td style=\"text-align:right\"><input style=\"width:55px\" name = \"quantite" + i + "\" type=\"number\" min=\"1\" max=" + data[i].Quantite + " value=" + data[i].Quantite + " disabled></td>");
                        $("#corps").append("</tr>");
                    }
                    $("#button_submit").hide();
                    $("#particulier").hide();
                    $("#particulier_label").hide();
                    $("#entreprise").hide();
                    $("#entreprise_label").hide();
                    $("#colonne_choix").hide();
                    $("#numero2").text("Liste des articles pour le ticket N* " + num_ticket);
                    $("#myModal").modal("show");
                })
                .fail(function (error) {
                    alert("Vérifiez bien le numéro du ticket");
                })
        });
    }
    //Annulation commande
    function annuler(id_commande) {
        $(document).ready(function () {
            $.ajax({
                url: '/Vente/Annulation/',
                data: "{ 'id_commande': '" + id_commande + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8"
            })
                .done(function (response) {
                    $("#" + id_commande + "").remove();
                    $("#message").text(JSON.stringify(response));
                    $("#message").css("color", "green");
                    $("#modal_message").modal("show");
                })
                .fail(function (error) {
                    alert(alert(error));
                })
        });
    }
    //Validation commande
    function valider(id_commande) {
        $(document).ready(function () {
            $.ajax({
                url: '/Vente/Reception/',
                data: "{ 'id_commande': '" + id_commande + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8"
            })
                .done(function (response) {
                    if (response.Etat != "110") {
                        $("#message").text("Attente sortie au niveau stock");
                        $("#message").css("color", "red");
                        $("#modal_message").modal("show");
                    }
                    else {
                        $("#" + id_commande + "").remove();
                        $("#message").text("Clôture avec succès");
                        $("#message").css("color", "green");
                        $("#modal_message").modal("show");
                    }
                    
                })
                .fail(function (error) {
                    alert(alert(error));
                })
        });
    }
    $(function () {
        //nettoie le modal à chaque close
        $('#myModal').on('hidden.bs.modal', function () {
            $('#corps').text("");
        });

        //Autocomplete
        $("#numero").autocomplete({
            maxShowItems: 5,
            source: function (request, response) {
                $.ajax({
                    url: '/Vente/AutoComplete/',
                    data: "{ 'numerocomplete': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            minLength: 1
        });

        function testDoublant(num_ticket) {
            $(document).ready(function () {
                $.ajax({
                    url: '/Vente/TestExistence/',
                    data: "{ 'num_ticket': '" + num_ticket + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8"
                })
                    .done(function (response) {
                        //Test doublant
                        if (JSON.stringify(response) == "false") {
                            //Test null
                            if (num_ticket == "") {
                                alert("Vérifiez bien le numéro du ticket");
                            }
                            else {
                                //Affichage liste
                                $(document).ready(function () {
                                    $.ajax({
                                        url: '/Vente/GetListeCommande/',
                                        data: "{ 'numerocomplete': '" + num_ticket + "'}",
                                        dataType: "json",
                                        type: "POST",
                                        contentType: "application/json; charset=utf-8"
                                    })
                                        .done(function (response) {
                                            let data = response;
                                            //Element à cacher
                                            $("#corps").append("<input type=\"hidden\" name=\"taille\" value=\"" + data.length + "\">");
                                            $("#corps").append("<input type=\"hidden\" id=\"numero_ticket\" name=\"numero_ticket\" value=\"" + num_ticket + "\">");
                                            for (var i = 0; i < data.length; i++) {
                                                var j = i + 1;
                                                //Element à cacher
                                                $("#corps").append("<input type=\"hidden\" name=\"ref_article" + i + "\" value=\"" + data[i].Article.References + "\">");
                                                $("#corps").append("<input type=\"hidden\" name=\"emplacement" + i + "\" value=\"" + data[i].Article.Emplacement + "\">");

                                                $("#corps").append("<tr>");
                                                $("#corps").append("<td>" + j + "</td>");
                                                $("#corps").append("<td>" + data[i].Article.Designation + "</td>");
                                                $("#corps").append("<td style=\"text-align:right\"><input style=\"width:55px\" name = \"quantite" + i + "\" type=\"number\" min=\"1\" max=" + data[i].Quantite + " value=" + data[i].Quantite + "></td>");
                                                $("#corps").append("<td style=\"text-align:center\"><input name=\"article_checked" + i + "\" type=\"checkbox\"></td>");
                                                $("#corps").append("</tr>");
                                            }
                                            $("#button_submit").show();
                                            $("#particulier").show();
                                            $("#particulier_label").show();
                                            $("#entreprise").show();
                                            $("#entreprise_label").show();
                                            $("#colonne_choix").show();
                                            $("#numero2").text("Liste des articles pour le ticket N* " + num_ticket);
                                            $("#myModal").modal("show");
                                        })
                                        .fail(function (error) {
                                            alert("Vérifiez bien le numéro du ticket");
                                        })
                                });
                            }
                        }
                        else {
                            $("#message").text(response);
                            $("#message").css("color", "red");
                            $("#modal_message").modal("show");
                        }
                    })
                    .fail(function (error) {
                        alert(error);
                    })
            });
        }
        //Voir liste article
        $("#btSubmit").click(function () {
            var num_ticket = $("#numero").val();
            testDoublant(num_ticket);
        });

        //Ajax liste details commande
    });

</script>
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-4">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Commande vers stock</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @if (ViewBag.erreur != null)
                    {
                        <div class="erreur_message">
                            <p><i class="fas fa-exclamation-triangle"></i> @ViewBag.erreur</p>
                        </div>
                    }
                    @if (ViewBag.message != null)
                    {
                        <div class="succes_message">
                            <p><i class="fas fa-check"></i> @ViewBag.message</p>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="num_facture">Numéro facture/BL</label>
                                <input type="text" class="form-control" id="numero" placeholder="N* facture/BL" name="numerocomplete">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button id="btSubmit" type="button" class="btn btn-primary">Voir les articles</button>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Liste des commandes en cours</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Numéro ticket</th>
                                    <th>Voir détails</th>
                                    <th>Réception</th>
                                    <th>Annuler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewData["listeCommandeEnCours"] != null)
                                {
                                    foreach (stock.Models.Classe.Stock.Commande commande in ViewData["listeCommandeEnCours"] as List<stock.Models.Classe.Stock.Commande>)
                                    {
                                        <tr id="@commande.IdCommande">
                                            <td>#</td>
                                            <td style="text-align:right">@commande.Numero</td>
                                            <td style="text-align:center"><button type="button" onclick="voirArticles(@commande.Numero)"><i class="fas fa-info-circle"></i></button></td>
                                            <td style="text-align:center"><button type="button" onclick="valider(@commande.IdCommande)"><i class="fas fa-check"></i></button></td>
                                            <td style="text-align:center"><button type="button" onclick="annuler(@commande.IdCommande)"><i class="fas fa-times"></i></button></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><div id="numero2"></div></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p id="message_client"></p>
                </div>
                <form action="/Vente/Commande/" method="post">
                <!-- Modal body -->
                <div class="modal-body2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Articles</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Désignation</th>
                                                <th>Quantité(s)</th>
                                                <th id="colonne_choix" style="width: 40px">Choisir</th>
                                            </tr>
                                        </thead>
                                        <tbody id="corps">
                                        </tbody>
                                    </table>
                                    <div class="choix">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input id="particulier" class="form-check-input" type="radio" name="client" value="1">
                                                        <label id="particulier_label" class="form-check-label">Particulier</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input id="entreprise" class="form-check-input" type="radio" name="client" value="0">
                                                        <label id="entreprise_label" class="form-check-label">Entreprise</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button id="button_submit" type="submit" class="btn btn-primary">Commande</button>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- /Modal-->
                <!-- The modal succes -->
                <div class="modal fade" id="succes">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="fas fa-info-circle"></i> Information</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <h5 style="text-align:center">Clôture avec succès</h5>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal succes-->
                <!-- The modal succes -->
                <div class="modal fade" id="modal_message">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="fas fa-info-circle"></i> Information</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <h5 style="text-align:center"><div id="message"></div></h5>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal succes-->

<!-- The modal modal mdp -->
<div class="modal fade" id="modal_mdp" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-info-circle"></i> Votre mot de passe a été réinitialisé, veuillez le changer pour la securité de votre compte</h5>
            </div>
            <!-- Modal body -->
            <form action="/Utilisateur/UpdatePwd/" method="post">
                <div class="modal-body">
                    @if (ViewBag.message_reset != null)
                    {
                        <p style="color:red;text-align:center">@ViewBag.message_reset</p>
                    }
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="mdp1" name="mdp1" placeholder="Votre nouveau mot de passe">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <p id="label_mdp2"></p>
                            <input type="password" class="form-control" id="mdp2" name="mdp2" placeholder="Confirmation de votre mot de passe">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer justify-content-between">
                    <a href="/Login/Deconnecter/"><button type="button" class="btn btn-default">Retour</button></a>
                    <button type="submit" class="btn btn-primary">Modifier mot de passe</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Modal mdp-->

<script>
    $('#mdp2').keyup(function () {
        if ($('#mdp2').val() != $('#mdp1').val()) {
            $("#label_mdp2").show();
            $("#label_mdp2").text("Vérifiez bien votre nouveau mot de passe");
            $("#label_mdp2").css("color", "red");
            $("#mdp2").addClass("form-control is-invalid");
        }
        else {
            $("#mdp2").removeClass("form-control is-invalid");
            $("#mdp2").addClass("form-control");
            $("#label_mdp2").text("");
            $("#label_mdp2").css("color", "black");
        }
    });
</script>
