@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Content/fonctionStock.js"></script>

<div class="container-fluid">
    <audio id="chatAudio" src="/Content/Uploads/notif.mp3" type="audio/mpeg" autoplay="true" muted="muted"></audio>
    <div id="carte">
    </div>
    @if (ViewData["commandeEnCours"] != null)
    {

        foreach (stock.Models.Classe.Stock.Commande commande in ViewData["commandeEnCours"] as List<stock.Models.Classe.Stock.Commande>)
        {
            String id = "corps" + commande.Numero;
            String idbinome = "binome" + commande.Numero;
            String idmagasinier = "magasinier" + commande.Numero;
            <div id="@id" class="row">
                <div class="col-sm-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Ticket n* @commande.Numero</h3>
                        </div>
                        <div class="card-body">
                            <div id="@commande.Numero" class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="designation">Désignation</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="quantite">Quantités</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="comptoir">Comptoir</label>
                                    </div>
                                </div>
                                @for (int i = 0; i < commande.ListeDetailCommande.Count; i++)
                                {
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="@commande.ListeDetailCommande[i].Article.Designation" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="@commande.ListeDetailCommande[i].Quantite" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="@commande.Comptoir.NomComptoir" disabled>
                                        </div>
                                    </div>
                                }
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="comptoir">Binôme</label>
                                        <input id="@idbinome" type="text" class="form-control" onkeypress="autocomplete2(@commande.Numero)" placeholder="Binôme" name="binome">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="comptoir">Magasinier</label>
                                        <input id="@idmagasinier" type="password" class="form-control" placeholder="Mot de passe" name="magasinier">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" onclick="sortie(@commande.Numero)" class="btn btn-primary">Sortie</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<!-- The modal succes -->
<div class="modal fade" id="modal_message">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-info-circle"></i> Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <h5 style="text-align:center"><div id="message"></div></h5>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal succes-->
<!-- The modal modal mdp -->
<div class="modal fade" id="modal_mdp">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-info-circle"></i> Votre mot de passe a été réinitialisé, veuillez le changer pour la securité de votre compte</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <form action="/Utilisateur/UpdatePwd/" method="post">
                <div class="modal-body">
                    @if (ViewBag.message_reset != null)
                    {
                        <p style="color:red;text-align:center">@ViewBag.message_reset</p>
                    }
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="mdp1" name="mdp1" placeholder="Votre nouveau mot de passe">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <p id="label_mdp2"></p>
                            <input type="password" class="form-control" id="mdp2" name="mdp2" placeholder="Confirmation de votre mot de passe">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer justify-content-between">
                    <a href="/Login/Deconnecter/"><button type="button" class="btn btn-default">Retour</button></a>
                    <button type="submit" class="btn btn-primary">Modifier mot de passe</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Modal mdp-->

<script>
    $('#mdp2').keyup(function () {
        if ($('#mdp2').val() != $('#mdp1').val()) {
            $("#label_mdp2").show();
            $("#label_mdp2").text("Vérifiez bien votre nouveau mot de passe");
            $("#label_mdp2").css("color", "red");
            $("#mdp2").addClass("form-control is-invalid");
        }
        else {
            $("#mdp2").removeClass("form-control is-invalid");
            $("#mdp2").addClass("form-control");
            $("#label_mdp2").text("");
            $("#label_mdp2").css("color", "black");
        }
    });
</script>
